body {
    background-color: #8699e3;
    font-family: Arial, Helvetica, sans-serif;
    color: #2f2a63;
}

h1 {
    color: #40263d;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: #40263d;
    font-family: 'Courier New', Courier, monospace;
}
